/* for css */
@font-face {
  font-family: 'Aubrey';
  src: url('fonts/Aubrey/Aubrey-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* For the Roboto font */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	font-size:14px;
	font-family: 'Roboto', sans-serif;
}

.top {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.origami_logo img {
	width: 26rem;
}

.top .main_nav {
	width: 60%;
	text-align: right;
	display: flex;
	justify-content: flex-end;
}

.navbtn {
	display: flex;
	justify-content: flex-end;
}

.navbtn a{
	width: 100px;           
	height: 50px;
	padding: 0 10px;        
	margin-right: 10px;
	line-height: 50px;
	background-color: #D68189;
	color: white;
	text-decoration: none;   
	border-radius: 10px;  
	font-size: 14px;
	text-align: center;
	transition: transform 0.3s ease;
}

.navbtn a:hover {
	background-color: #E94E77;
	transform: translateY(-14px);
}

.origamihome1 {
	width: 850px;
	margin: auto;
	margin-bottom: 50px;
}

.origamihome1 h1 {
	font-family: "Aubrey", sans-serif;
	font-size: 50px;
	text-align: center;
}

.featured_lesson {
	background-color: #EEEBE6;
	padding-top: 70px;
	text-align: center;
}

.featured_lesson span {
	font-size: 30px;
	letter-spacing: 18px;
	margin-bottom: 0px;
}

.featured_lesson p {
	margin-top: 2px;
	font-size:14px;
}

.featured_lesson img {
	width: 850px;
	border-radius: 10px;
}

.mid_section {
	width: 850px;        
    margin: 0 auto;      
	display: flex;
	align-items: flex-start;
	padding-bottom: 50px;
}

.mid_section .spear_tailed_dragon {
	width: 60%;
	max-width: 650px;
	text-align: left;
}

.enroll {
	width: 270px;
	height: 300px;
	background-color: #C6A49A;
	border-radius: 15px;
	text-align: center;
	color: #FFFFFF;
	padding: 15px 15px 60px 15px;
	margin-top: 30px;
	margin-left: 40px;
}

/* PRICE CIRCLE */

.price {
    width: 100px;
    height: 100px;
    background-color: #E3CFB4;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    margin: 10px auto 20px auto;
    display: inline-block; 
    text-align: center;
    line-height: 110px;    
}

.price,
.price * {
    letter-spacing: 0 !important;
    word-spacing: 0 !important;
}

.price-text {
	display: inline-block;
    line-height: 1;     
    color: #E94E77;
    font-size: 30px;
    font-weight: bold;
}

.price-text .currency {
    font-size: 0.6em;
    display: inline-block;
    transform: translateY(-0.3em);
    margin-right: 2px;
}

.enroll #access {
	margin-top: 0px;
}

.join_button button{
	background-color: #E94E77;
	border-radius: 10px;
	height: 40px;
	width: 100px;
	color: white;
	margin-right: 8px;
	border: 0px;
}

.join_button button:hover{
	background-color: #000;
}

.origamihome2 {
	width: 850px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: left;
}

.masterclass_lessons {
	background-color: #EEEBE6;
	font-family: sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 80px;
	padding-left: 300px;
	padding-right: 300px;
}

.masterclass_lessons span {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0px;
	font-size: 30px;
	letter-spacing: 18px;
}

.tables {
	width: 950px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.tables .lesson_table {
	width: 190px;
	height: 480px;
	background-color: #FFFFFF;
	padding: 10px;
	border-radius: 10px;
	font-size: 14px;
}

.tables .lesson_table h3 {
	font-size: 16px;
}

.tables img {
	width: 100%;
	border-radius: 10px;
}

.lesson_table p{
	text-align: left;
}

.skill_level {
	width: 80px;
	height: 40px;
	margin: 18px 0 0 0;
	background-color: #E94E77;
	padding: 12px;
	border-radius: 10px;
}

.skill_level:hover {
	background-color: #000000;
}

#rb {
	width: 80px;
	height: 40px;
	margin: 35px 0;
	background-color: #E94E77;
	padding: 12px;
	border-radius: 10px;
}

#rb:hover {
	background-color: #000000;
}

.skill_level h4 {
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 0px;
	font-size: 22px;
	color: #FFFFFF;
}

.skill_level p {
	margin-top: 25px;
	line-height: 0px;
	font-size: 13px;
	text-align: center;
}

.bottom {
	background-color: #C6A49A;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bottom img {
	width: 25%;
}

#copyright{
	width: 11rem;
	margin-right: auto;
}

/* About Page */

.about {
	background-image: url("../origami-images/images/bg-tile.jpg");
	background-color: #cebab0;
	background-blend-mode: multiply;
	background-repeat: repeat-x;
	padding-left: 20px;
	height: 120px;

	display: flex;
	align-items: center;
}

.about p {
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}

.origami_masters {
	padding: 50px 300px;
	text-align: center;
}

.origami_masters span {
	font-size: 30px;
	letter-spacing: 18px;
	margin-bottom: 0px;
	font-family:'Roboto', sans-serif;
}

.origami_masters p{
	margin-top: 0;
}

/* FLEX FIX */
.masters {
	width: 700px;   
	margin: 0 auto;
	display: flex;
}

.masters .master1,
.masters .master2{
	width: 50%;
	font-size: 16px;
}

.masters img {
	border-radius: 100%
}

.school_masters {
	background-color: #EEEBE6;
	padding: 80px 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.school_masters span {
	font-size: 30px;
	letter-spacing: 18px;
	font-family:'Roboto', sans-serif;
}

.school_masters_whole {
	margin: 0 auto;
	width: 70%;
	display: flex;
}

.school_masters_whole .school_masters_left {
	width:40%;
	font-size: 16px;
}

.school_masters_whole .school_masters_right {
	width: 60%;
	font-size: 16px;
	text-align: right;

	display: flex;          
	justify-content: flex-end;
}

.school_masters_whole .school_masters_left img{
	width: 70%;
	border-radius: 10%;
	margin-bottom: -20px;
	margin-top: 10px;
}

.school_masters_whole .school_masters_left h3{
	margin-bottom: -10px;
}

.school_masters_right .left,
.school_masters_right .right {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.school_masters_right .left img,
.school_masters_right .right img {
	width: 130px;
	border-radius: 100%;
	margin-bottom: -10px;
	margin-top: 17px;
}

.lm {
	text-align: center;
	font-size: 16px;
	margin-left: -100px;
}

.lm h3 {
	margin-bottom: -10px;
}


.lessons {
	background-image: url("../origami-images/images/bg-tile.jpg");
	background-color: #cebab0;
	background-blend-mode: multiply;
	background-repeat: repeat-x;
	padding-left: 20px;
	height: 120px;
	margin-bottom: 5rem;
	
	display: flex;
	align-content: center;
}

.lessons p {
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}


.masterclass_lessons_text span {
	font-size: 30px;
	letter-spacing: 30px;
	margin-bottom: 0px;
	font-family:'Roboto', sans-serif;
}

.masterclass_lessons_text  {
	text-align: center;
	margin: 2rem 0;
}

.masterclass_lessons_section {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	
	height: auto;
	margin-bottom: 8rem;
}

.ml_row {
	width: 190%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.ml_card {
	max-width: 13rem;
	height: auto;
	background-color: #E3CFB4;
	padding: 0.7rem;
	border-radius: 10px;
		
	text-align: center;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ml_card img {
	width: 100%;
}

.ml_card h3 {
	margin: 10px 0;
	padding: 0;
}

.ml_enroll_box {
	background-color: #E94E77;
	color: #FFF;
	max-width: 80%;
	max-height: 15%;
	padding: 10px 20px;
	border-radius: 10px;
}

.ml_enroll_box:hover {
	background-color: #000;
}

.video_lessons {
	background-color: #EEEBE6;
	padding: 2.5rem 0 5rem 0;
}

.video_lessons_text span {
	font-size: 30px;
	letter-spacing: 30px;
	margin-bottom: 0px;
	font-family:'Roboto', sans-serif;
}

.video_lessons_text  {
	text-align: center;
	margin: 2rem 0 ;
}

.youtube_videos {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.video_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: #FFF;
	padding: 0.3rem;
	border-radius: 10px;
	width: 20%;
}

.video_card video{
	margin: 0;
	width: 100%;
}

/* Contact Page */
#map {
	width: 100%;
	height: 500px;
	border: none;
}

.message_section {
	padding: 100px;
	
	display: flex;
	gap: 50px;
}

.message_row {
	flex: 2;
}

.text_form {
	display: flex;
	flex-direction: column;
}

.hq_row {
	flex: 1;

	width: 50%;
}

.text_label {
	display: inline-block;
	margin-right: 30px;
}

.input_section {
	display: inline-block;
	width: 60%;
}
























